.footer {
  text-align: center;
  padding: 1.5rem;
  width: 100vw;
  background-color: #0d1b30;
  bottom: 0;
  color: #ccd6f6;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  size: 5rem;
}

.social-links ul li {
  list-style: none;
  font-size: 3rem;
}

.social-links ul li i {
  margin-left: 1rem;
} 
