.navbar {
  max-width: 90%;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  top: 0;
}

h2{
  margin-left: 10px;
  letter-spacing: 3px;
}

.navbar .nav-items ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar .nav-items ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar .nav-items ul li a {
  text-decoration: none;
  color: #ccd6f6;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

.navbar .nav-items ul li a:hover {
  color: #64ffda;
  cursor: pointer;
}

.logo {
  width: 50px;
  border-radius: 30%;
  height: 50px;
}

/* .burger {
  display: none;
} */

/* @media (max-width: 680px) {
  .burger {
    display: flex;
    cursor: pointer;
  }

  i {
    width: 30px;
    height: 30px;
  }

  .nav-items {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar ul li a {
    padding: 0.5rem 1rem;
  }

  .nav-items.active {
    display: flex;
    margin-top: 10rem;
  }
} */
